<launch>

 <!-- RosAria pioneer drivers -->
<node pkg="rosaria" type="RosAria" name="RosAria" >
  <param name="port" type="string" value="/dev/ttyUSB0" />
  <remap from="/RosAria/cmd_vel" to="/cmd_vel" />
  <remap from="/RosAria/pose" to="odom" />
  </node>


<!-- joy node -->
  <node respawn="true" pkg="joy" type="joy_node" name="joy_node" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.15" />
    <param name="autorepeat_rate" type="double" value="10.0" />
  </node>


<!-- teleop node -->
<node pkg="barc_teleop" type="barc_teleop_node" respawn="false" name="barc_teleop" output="screen">
 <remap from="/teleop/cmd_vel" to="/cmd_vel" />
</node>

  <!-- hokuyo laser scaner drivers -->
  <node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen">
    <param name="frame_id" type="string" value="base_laser"/>
    <param name="calibrate_time" type="bool" value="true"/> <!-- Starts up slow, but accurate timestamps  --> 
    <param name="port" type="string" value="/dev/ttyACM0"/> <!-- Set the port to connect to here -->
    <param name="intensity" type="bool" value="false"/>
  </node>

 

</launch>
